body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #F6F7FB;
}

header {
  padding-top: 40px;
  height: 180px;
}

.title {
  font-size: 54pt;
  color: #17AA8E;
}

.pie-results {
  padding-top: 50px;
}

/* TransactionCount */

.transactions-count-card {
  box-shadow: 0px 1px 8px -1px #757575;
  height: 280px;
  margin: 0 15px 0 15px;
  border-radius: 2px;
  padding: 20px;
  background-color: white;
}

.transactions-count {
  font-size: 35pt;
  padding-top: 5px;
}

.hr-score {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-color: #888888;
}

.transactions-title {
  margin-top: 30px;
  font-size: 12pt;
  margin-bottom: 5px;
}

/* AttributeCount */

.atr-card {
  box-shadow: 0px 1px 8px -1px #757575;
  height: 85px;
  margin: 0 15px 12px 15px;
  padding: 28px;
  font-size: 14pt;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

/* Products info */

.products {
    margin: 15px;
    height: 400px;
}

.product-info-card {
  box-shadow: 0px 1px 8px -1px #757575;
  margin: 0 15px 0 15px;
  border-radius: 2px;
  padding: 20px;
  background-color: white;
}

.product-info-title {
  font-weight: bold;
  font-size: 12pt;
}

.product-score {
  border-color: #888888;
}

